body {
    margin: 5vw auto;
    width: 90vw;
	text-rendering: geometricPrecision;
}


img.social-icon-header{
    width: 4vw; 
}

.filled-width {
    width: 80vw;
}



figure.responsive-figure {
    max-width: 80vw;    
    text-align: center;
}
figure.responsive-left-aligned-figure {
    float: left;
    max-width: 20vw;    
    text-align: center;
}
figure.responsive-left-aligned-figure img {
    float: left;
    max-width: 20vw;    
    text-align: center;
    padding: 0vw 0vw;
}
figure.responsive-right-aligned-figure {
    float: right;
    max-width: 20vw;    
    text-align: center;
}
figure.responsive-right-aligned-figure img {
    float: right;
    max-width: 20vw;    
    text-align: center;
    padding: 0vw 0vw;
}
figcaption {
    font-size: 1.2em;
    color: #000000;
    margin-top: 0.25em;
}

@media only screen {
    img.social-icon-header {
        width: 8vw;
    }
    .filled-width {
        width: 80vw;
    }
    .side-aligned{ 
        width: 80vw;
        
        margin: 2vw 2vw;
    }
    
    
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 1vw;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}




.mstdn > span{
  color:#9baec8;
  font-size:12px;
  padding-left:3px;
}
.mstdn > span:before{
  content:"@";
} */
