<table class="image" width="900">
    <tr>
		<td text-align="left">
			<h1>Dr. Siddharth Maddali </h1>
			<p align="left"><h2>Assistant Scientist (Materials Science Division)</h2></p>
			<img src="{{ site.url }}/images/ANL.svg" width="200"><a href="https://www.anl.gov/profile/siddharth-maddali">(Link)</a><br/>
			{% include academic-social.html %}
			<p align="left">{% include cv_contactinfo_plain.html %}</p>
		</td>
		<td text-align="right">
			<img src="{{ site.url }}/images/MSDHeadshot.jpg" width="350" align="right" style="margin:0px 10px">
    	</td>
	</tr>
</table>
