<h1>Siddharth Maddali, Ph.D</h1>
<img 
 	src="{{ site.url }}/images/profilepic.png"
    width="300"
    >
	<br/>	
	<a name="resume-top"></a>
<table style="width:80%">
	<tr>
		<th>Post-doctoral researcher</th>
		<th>E-mail: <br/><a href="mailto:siddharthmv@gmail.com">siddharthmv@gmail.com</a></th>
	</tr>
	<tr>
		<td align="center">Argonne National Laboratory</td>
		<td align="center"><b>E-mail (alt)</b>:<br/> 
			<a href="mailto:siddharth.mv@hotmail.com">
				siddharth.mv@hotmail.com
			</a>
		</td>
	</tr>
	<tr>
		<td align="center">UChicago Argonne LLC<br/>(US Department of Energy)</td>
		<td align="center"><b>Website</b>:<br/>
			<a href="https://siddharth-maddali.github.io">
				https://siddharth-maddali.github.io
			</a>
		</td>
	</tr>
	<tr>
		<td align="center">Chicago, IL (USA)</td>
		<td align="center"><b>Phone</b>: <br/> +1 (412) 450-0639</td>
	</tr>
</table>
<br/>
<a name="cv-menu"></a>
<h2>Jump to...</h2>
<div id="navbar">
	{% for item in site.data.resume-navigation %}
		<a href="{{ item.link }}">{{ item.name }}</a>
	{%  endfor %}
</div>
