<div id="mySidenav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	{% for item in site.data.resume-navigation %}
		<a href="{{ item.link }}" onclick="closeNav()">{{ item.name }}</a>
	{%  endfor %}
</div>

<button style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</button>

<script>
	function openNav() {
	  document.getElementById("mySidenav").style.width = "250px";
	}
	
	function closeNav() {
	  document.getElementById("mySidenav").style.width = "0";
	}
</script>
