<!--
<h1>Siddharth Maddali, Ph.D</h1>
<img 
 	src="{{ site.url }}/images/profilepic.png"
    width="300"
    >
	<br/>	
	<a name="resume-top"></a>
<table style="width:80%">
	<tr>
		<th>Assistant Scientist</th>
		<th>E-mail: <br/><a href="mailto:siddharthmv@gmail.com">siddharthmv@gmail.com</a></th>
	</tr>
	<tr>
		<td align="center">Argonne National Laboratory</td>
		<td align="center"><b>E-mail (alt)</b>:<br/> 
			<a href="mailto:siddharth.mv@hotmail.com">
				siddharth.mv@hotmail.com
			</a>
		</td>
	</tr>
	<tr>
		<td align="center">UChicago Argonne LLC<br/>(US Department of Energy)</td>
		<td align="center"><b>Website</b>:<br/>
			<a href="https://www.anl.gov/profile/siddharth-maddali">
				https://www.anl.gov/profile/siddharth-maddali
			</a>
		</td>
	</tr>
	<tr>
		<td align="center">Chicago, IL (USA)</td>
		<td align="center"><b>Phone</b>: <br/> +1 (412) 450-0639</td>
	</tr>
</table>
<br/>
<a name="cv-menu"></a>
<h2>Jump to...</h2>
<div id="navbar">
	{% for item in site.data.resume-navigation %}
		<a href="{{ item.link }}">{{ item.name }}</a>
	{%  endfor %}
</div>
-->
<table class="image" width="350">
    <tr><td text-align="center">
		<img src="{{ site.url }}/images/MSDHeadshot.jpg" width="350" align="right" style="margin:0px 0px">
    </td></tr>
<!--
    <tr><td class="caption" align="left"> <strong>Email</strong>: smaddali@alumni.cmu.edu </td></tr>
    <tr><td class="caption" align="left"> <strong>Web</strong>: https://siddharth-maddali.github.io </td></tr>
    <tr><td class="caption" align="left"> <strong>Phone</strong>: +1 (412) 450-0639</td></tr>
-->
</table>


<p align="left"> <h1> Dr. Siddharth Maddali </h1></p>
<p align="left"> <h2> Assistant Scientist </h2></p>
<p align="left"> <h2> Argonne National Laboratory </h2></p>
<p align="left"> <h2> (Uchicago Argonne, LLC) </h2></p>
<p align="left"> <h2> Chicago, IL (USA) </h2></p>
<!--
<p align="left"> <strong>Email</strong>: smaddali@alumni.cmu.edu </p>
<p align="left"> <strong>Phone</strong>: +1 (412) 576-2406 </p>
<p align="left"> <strong>Web</strong>: https://siddharth-maddali.github.io </p>
-->
<strong>Email</strong>: <code>smaddali@alumni.cmu.edu</code><br/>
<strong>Web</strong>: <code>https://siddharth-maddali.github.io</code><br/>
<strong>Phone</strong>: +1 (412) 450-0639
