<table class="table1">
    <tr>
		<td text-align="left">
			<h1 align="left">Siddharth Maddali, Ph.D</h1>
			<h2 align="left">Computational Scientist/Engineer</h2>
<!--			
			<h2 align="left">Research Scientist, GPG/BBP Division (Broadband Plasma)</h2>
			<img src="{{ site.url }}/images/KLA.svg" width="250" align="left"><br/>
-->			
			<!--(<a href="https://www.anl.gov/profile/siddharth-maddali">Link</a>)<br/>-->
			{% include academic-social.html %}
			{% include cv_contactinfo.html %}
		</td>
		<td text-align="right">
			<img src="{{ site.url }}/images/MSDHeadshot.jpg" width="250" align="right" style="margin:0px 10px">
    	</td>
	</tr>
</table>
