<!DOCTYPE html>
	<html>
		{% seo %}
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript"
			  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
			</script>
			<style>
				table, th, td { border: 1px solid black; }
			</style>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
					<li><a href="/resume-cv/education">Resume/CV</a></li>
					<li><a href="mailto:siddharthmv@gmail.com"><img src="{{ site.url }}/images/Mail.svg" width="2.5%"></a></li>
					<li><a href="https://github.com/siddharth-maddali"><img src="{{ site.url }}/images/Github.svg" width="2.5%"></a></li>
					<li><a href="https://twitter.com/SidDarthious"><img src="{{ site.url }}/images/Twitter.svg" width="2.5%"></a></li>
					<li><a href="https://www.linkedin.com/in/siddharthmaddali/"><img src="{{ site.url }}/images/LinkedIN.svg" width="2.5%"></a></li>
					<li><a href="https://arxiv.org/search/?query=Maddali%2C+S&searchtype=all&abstracts=show&order=-announced_date_first&size=50"><img src="{{ site.url }}/images/ArXiv.svg" width="5%"></a></li>

					<!--<li><a href="/blog">Blog</a></li>-->
	    		</ul>
			</nav>
			<h1>Dr. Siddharth Maddali</h1>
			<img 
    			src="{{ site.url }}/images/profilepic.png"
			    width="125"
			    align="left"
			    style="margin: 0px 30px"
			    >
			<table style="width:70%">
				<tr>
					<th>Post-doctoral researcher</th>
					<th>E-mail: <a href="mailto:smaddali@anl.gov">smaddali@anl.gov</a></th>
				</tr>
				<tr>
					<td align="center">Argonne National Laboratory</td>
					<td align="center"><b>E-mail (alt)</b>: <a href="mailto:smaddali@alumni.cmu.edu">smaddali@alumni.cmu.edu</a></td>
				</tr>
				<tr>
					<td align="center">US Department of Energy, UChicago Argonne LLC</td>
					<td align="center"><b>Website</b>: <a href="https://siddharth-maddali.github.io">https://siddharth-maddali.github.io</a></td>
				</tr>
				<tr>
					<td align="center">Chicago, IL (USA)</td>
					<td align="center"><b>Phone</b>: +1 (412) 450-0639</td>
				</tr>
			</table>
			<br><br><br><br>
			<div style="width:100%">
				<ul>
					<li><a href="{{ site.url }}/resume-cv/education"><b>Education</b></a></li>
					<li><a href="{{ site.url }}/resume-cv/workex"><b>Work experience</b></a></li>
					<li><a href="{{ site.url }}/resume-cv/resint"><b>Research interests</b></a></li>
					<li><a href="{{ site.url }}/resume-cv/softproj"><b>Computational projects</b></a></li>
					<li><a href="{{ site.url }}/resume-cv/pubs"><b>Publications</b></a></li>
					<li><a href="{{ site.url }}/resume-cv/presentations"><b>Talks/posters</b></a></li>
					<li><a href="{{ site.url }}/resume-cv/workshops"><b>Workshops attended</b></a></li>
					<li><a href="{{ site.url }}/resume-cv/professional"><b>Professional activity</b></a></li>
				</ul>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
<!--			<footer>
	    		<ul>
					<li><a href="mailto:siddharthmv@gmail.com"><img src="{{ site.url }}/images/Mail.svg" width="5%"></a></li>
					<li><a href="https://github.com/siddharth-maddali"><img src="{{ site.url }}/images/Github.svg" width="5%"></a></li>
					<li><a href="https://twitter.com/SidDarthious"><img src="{{ site.url }}/images/Twitter.svg" width="5%"></a></li>
					<li><a href="https://www.linkedin.com/in/siddharthmaddali/"><img src="{{ site.url }}/images/LinkedIN.svg" width="5%"></a></li>
					<li><a href="https://arxiv.org/search/?query=Maddali%2C+S&searchtype=all&abstracts=show&order=-announced_date_first&size=50"><img src="{{ site.url }}/images/ArXiv.svg" width="7%"></a></li>
				</ul>
			</footer>		-->
		</body>
	</html>

