<!DOCTYPE html>
	<html>
		<head>
			<link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/favicon.ico?">
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137811376-1"></script>
			<script>
  				window.dataLayer = window.dataLayer || [];
  				function gtag(){dataLayer.push(arguments);}
  				gtag('js', new Date());
				
  				gtag('config', 'UA-137811376-1');
			</script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript"
			  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
			</script>
			<meta name="google-site-verification" content="-ELtPgoQBEcEJvZJd4mwMvZ4cPvHp3I573TVomRo8FE" />
			{% seo %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
					<li><a href="/resume-cv/education">Resume/CV</a></li>
					<li><a href="mailto:siddharthmv@gmail.com"><img src="{{ site.url }}/images/Mail.svg" width="4%"></a></li>
					<li><a href="https://github.com/siddharth-maddali"><img src="{{ site.url }}/images/Github.svg" width="4%"></a></li>
					<li><a href="https://twitter.com/SidDarthious"><img src="{{ site.url }}/images/Twitter.svg" width="4%"></a></li>
					<li><a href="https://www.linkedin.com/in/siddharthmaddali/"><img src="{{ site.url }}/images/LinkedIN.svg" width="4%"></a></li>
					<li><a href="https://arxiv.org/search/?query=Maddali%2C+S&searchtype=all&abstracts=show&order=-announced_date_first&size=50"><img src="{{ site.url }}/images/ArXiv.svg" width="5%"></a></li>

					<!--<li><a href="/blog">Blog</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
						
			</div><!-- /.container -->
			<footer>
				{% include share-bar.html %}
			</footer>
		</body>
	</html>

