<!DOCTYPE html>
	<html>
		<head>
			<link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/favicon.ico?">
			<link href="https://siddharth-maddali.github.io/feed.xml" rel="alternate" type="application/atom+xml">
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137811376-1"></script>
			<script>
  				window.dataLayer = window.dataLayer || [];
  				function gtag(){dataLayer.push(arguments);}
  				gtag('js', new Date());
  				gtag('config', 'UA-137811376-1');
			</script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta name="google-site-verification" content="-ELtPgoQBEcEJvZJd4mwMvZ4cPvHp3I573TVomRo8FE" />
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript"
			  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
			</script>
			<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
			{% seo %}
		</head>
		<body>
			{% include nav-bar.html %}
			<table class="table1" align="center">
			<tr>
				<td valign="top" style="padding-right:10px">
					<div class="container">
			
					{{ content }}
						
					</div>
					<footer>
						{% include website-search.html %}
						{% include share-bar.html %}
						© 2019-{{ site.time | date: '%Y' }} Siddharth Maddali, all rights reserved.
					</footer>
				</td><!-- /.container -->
				<td valign="top" style="padding-left:10px">
					<table>
	<tr>
							<td>
								<div class="LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="vertical" data-vanity="siddharthmaddali" data-version="v1"><a class="LI-simple-link" href="https://www.linkedin.com/in/siddharthmaddali?trk=profile-badge"></a></div>
							</td>
						</tr>
						<tr>
							<td>
							<div class="twitterborder"><a	class="twitter-timeline" data-width="300" data-theme="light" data-tweet-limit="1" href="https://twitter.com/SidDarthious?ref_src=twsrc%5Etfw">Tweets by SidDarthious</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			</table>
			</body>
	</html>

