<!DOCTYPE html>
	<html>
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<script src="https://twemoji.maxcdn.com/2/twemoji.min.js?11.2"></script>
			<script>window.onload = function () { twemoji.parse(document.body);}</script>
<!--			<style>
			img.emoji { /* replace unicode emojis with corresponding images, transfers to PDF */
				height: 1em;
				width: 1em;
				margin: 0 .05em 0 .1em;
				vertical-align: -0.1em;
			}
</style> -->
			<link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/favicon.ico?">
			<link href="https://siddharth-maddali.github.io/feed.xml" rel="alternate" type="application/atom+xml">
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137811376-1"></script>
			<script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script>
			<script>
  				window.dataLayer = window.dataLayer || [];
  				function gtag(){dataLayer.push(arguments);}
  				gtag('js', new Date());
  				gtag('config', 'UA-137811376-1');
			</script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta charset="utf-8" name="google-site-verification" content="-ELtPgoQBEcEJvZJd4mwMvZ4cPvHp3I573TVomRo8FE" />
			<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/resume.css">
			<link rel="stylesheet" href="{{ site.url }}/css/academicons.min.css"/>
			<script type="text/javascript"
			  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
			<script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script>
			{% seo %}
		</head>
		<body>
			<div class="container">
			
			{{ content }}
						
			</div>
			<footer>
				© 2019-{{ site.time | date: '%Y' }} Siddharth Maddali, all rights reserved.
			</footer>
			</body>
	</html>

